.navbar {
  background-color: #203647;
  width: 100%;
  height: 3rem;
}


.app-header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
  margin-top: 2rem;
}

.avatar{
  height: 9rem;

  border-radius: 50%;
  border: 2px solid black;


}

.link {
  text-decoration: none;
  color: #757575 ;


}


.link:hover {
  text-decoration: underline;
  color: #424242  ;
}


.about {
  font-family: cursive;
  padding: 0.8rem;
  font-size: 0.8rem;
  width: 16rem;
  border-radius: 1%;
  border: 2px solid black;
  text-align: center;

}
.follows{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 11rem;

}

.main {
  
  width: 80%;

}

.page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
}


.card {
  border-radius: 10%;
  border: 2px solid #bdbdbd ;
  width: 16rem;
  height: 16rem;
  padding: 0.6rem;

  margin: 0.8rem;
  
  
}

.darker-grey {
  color: #212121  ;
}


.text-justify {
  text-align: justify;
}

